<!DOCTYPE html>

<html lang="ko" class="no-js">
<head>
	<title>써니베일 - 사람과 사람, 써니베일</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="description" content="IT 교육 전문">
	<meta name="author" content="The Develovers">

	
	<!-- CSS -->
	<link href="assets/css/main.css" media="screen, projection" rel="stylesheet" type="text/css" />
	
	<!-- i18n CSS -->
	<link href="assets/css/i18n_ko.css" media="screen, projection" rel="stylesheet" type="text/css" />

	<!-- Javascript -->
	<script type="text/javascript" src="assets/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/modernizr.js"></script>
	<script type="text/javascript" src="assets/js/jquery.ui.map.full.min.js?ver=3.0"></script>
	<script type="text/javascript" src="assets/js/jquery.scrollTo-1.4.3.1-min.js"></script>
	<script type="text/javascript" src="assets/js/jquery.localscroll-1.2.7-min.js"></script>
	<script type="text/javascript" src="assets/js/main.js"></script>

      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
	<script>
        $( document ).ready(function(){
		});

        function fnMove(id){
            var offset = $(id).offset();
            $('html, body').animate({scrollTop : offset.top}, 400);
        }
	</script>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/touch-icon-57-precomposed.png">
  	<link rel="shortcut icon" href="assets/ico/favicon.png">

</head>
<body data-spy="scroll" data-target="#main-nav" id="main">
	<!-- WRAPPER -->
	<div class="wrapper">
				
		<!-- main navigation -->
		<nav class="navbar navbar-default navbar-fixed-top" id="main-nav" role="navigation">
			<div class="container">
				<!-- brand and toggle -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav-collapse">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>					
				</div>
				<!-- navigation links -->
				<div class="collapse navbar-collapse main-nav-collapse">
					<ul class="nav navbar-nav">
						<li onclick="fnMove('#main')"><a href="#main">HOME</a></li>
						<li onclick="fnMove('#about-me')"><a href="#about-me">ABOUT</a></li>
						<li onclick="fnMove('#resume')"><a href="#resume">RESUME</a></li>
						<li onclick="fnMove('#projects')"><a href="#projects">PROJECTS</a></li>
						<li  onclick="fnMove('#contacts')"><a href="#contacts">CONTACTS</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- end main navigation -->
				
		<!-- header -->
		<header class="jumbotron header" id="header">
			<div class="container">
				<div class="row">
				 
					<div class="col-md-6 left header-jumbotron">
						<div class="avatar">
							<img src="assets/img/profile-picture-02.png" class="img-responsive" alt="Profile Picture" />
						</div>
					</div>

					<div class="col-md-6 right">
						<h1 class="hide">Sunnyvale</h1>
						<h2 class="heading">사람과 사람, 써니베일</h2>
						<p>(주)써니베일은 IT 전문 교육 서비스 기업입니다.</p>
						<a href="#about-me" class="btn btn-default btn-lg">자세히 보기</a><a href="#resume" class="btn btn-primary btn-primary-2 btn-lg">연혁</a>
					</div>
				</div>
			</div>
		</header>
		<!-- end header -->


		<!-- about-me -->
		<section class="section about-me" id="about-me">
			<div class="container">
				<h2 class="heading">ABOUT</h2>
				<p>(주)써니베일은 IT전문 교육 기업이며, IT교육 서비스를 개발 및 운영을 목적으로 설립된 벤처 기업 입니다.</p>
				<p style="font-size:15px">-써니베일은 JAVA관련(JAVA,디자인패턴,프레임워크,웹프로그래밍) 전문 교육 업체입니다.<br>-써니베일은 HTML5(HTML,CSS,JavaScript) 전문 교육 업체입니다.<br>-써니베일은 UML, 분석/설계, 아키텍처 전문 교육 업체입니다.<br><br>써니베일은 또한 온라인 교육 및 오프라인 교육 관리를 위한 서비스를 개발 및 운영하는 업체입니다. <br>행복한 개발자를 위하여 오늘도 열심히 교육에 대하여 고민하고 있습니다.

				</p>					
					
				<div class="row interest">
					<div class="col-md-12">
						<h3 class="sub-heading"><span class="glyphicon icon-book"></span>for Education </h3>
						<p style="font-size:15px">15년 이상 경력의 IT 전문 강사진을 주축으로 수준높은 분석/설계, 아키텍처, 모바일, 웹, 프레임워크 등 현장 중심의 교육을 하고 있습니다.</p>
						<br>
						<p>주요 고객사 : 재단법인 커넥트, SK플래닛, 삼성SDS, 삼성전자, 삼성전자 서비스, 비트교육센터, SK커뮤니케이션즈, 삼성SDS  등</p>
					</div>
				</div>
				
			</div>
		</section>
		<!-- end about-me -->

		<!-- resume -->
		<section class="section resume" id="resume">
			<div class="container">
				<h2 class="heading">RESUME</h2>
				<ul class="timeline">
					<li class="year">2017</li>
					<li class="event">
						<h3 class="heading">IT교육 및 서비스 개발</h3>
						<span class="month"><i class="icon icon-calendar"></i>2017년</span>

						<p>
							<span class="mon-align-tw"></span>
							<span class="mon-content">
								재단법인 커넥트(connect.or.k)<br> 백엔드 프로그래밍 메인 튜터 활동
							</span>
						</p>
					</li>
					<li class="event" style="display:none;">
					</li>

					<li class="year">2016</li>
					<li class="event">
						<h3 class="heading">IT교육 및 서비스 개발</h3>
						<span class="month"><i class="icon icon-calendar"></i>2016년</span>
						<p>
							<span class="mon-align-tw"></span>
							<span class="mon-content">
								비트 교육센터 전문가 반 교육<br>
								비트 교육센터 개발자 교육<br>
							</span>
						</p>
						<p>
							<span class="mon-align-tw"></span>
							<span class="mon-content">
								http://www.tryhelloworld.co.kr<br>자바 온라인 교육
							</span>
						</p>
					</li>
					<li class="event" style="display:none;">
					</li>
					<li class="year">2015</li>
					<li class="event">
						<h3 class="heading">IT교육 및 서비스 개발</h3>
						<span class="month"><i class="icon icon-calendar"></i>2015년</span>

						<p>
							<span class="mon-align-tw">1월.</span>
							<span class="mon-content">
								폴리텍 대학 - 자바/프레임워크/HTML5 교육<br>
								상명대학교 - JAVA/HTML5/안드로이드/파이썬 교육<br>
							</span>
						</p>
						<p>
							<span class="mon-align-tw">2월.</span>
							<span class="mon-content">
								건국대학교-C프로그래밍 교육<br>
								SK플래닛-신입사원 교육<br>
							</span>
						</p>
						<p>
							<span class="mon-align-tw">3월.</span>
							<span class="mon-content">
								SK플래닛-신입사원 교육<br>
								삼성SDS 신입사원 교육
							</span>
						</p>
						<p>
							<span class="mon-align-tw">4월.</span>
							<span class="mon-content">
								삼성SDS 신입사원 교육<br>
							</span>
						</p>
						<p>
							<span class="mon-align-tw">5월.</span>
							<span class="mon-content">
								SK Planet - 애플의 새로운 개발 언어 : Swift 교육<br>
								삼성SDS 직무전환 교육<BR>
								삼성SDS ICTO과정
							</span>
						</p>
						<p>
							<span class="mon-align-tw">7월.</span>
							<span class="mon-content">
								비트 교육센터 - 여름방학 자바특강<br>
								비트 교육센터 - 스펙초월 과정<BR>
								삼성SDS - 대용량 아키텍처
							</span>
						</p>

					</li>
					<li class="event" style="display:none;">
					</li>

					<li class="year">2014</li>
					<li class="event">
						<h3 class="heading">IT교육 및 서비스 개발</h3>
						<span class="month"><i class="icon icon-calendar"></i>2014년</span>
						<p>
						<span class="mon-align-tw">1월.</span>
							<span class="mon-content">
								벤처 기업 인증 획득<br>
								삼성SDS preSTC 자바 교육<br>
							</span>
						</p>
						<p>
						<span class="mon-align-tw">3월</span>
							<span class="mon-content">
								벤처 기업 인증 획득<br>
								기업용 SNS. 헬로 마이 오피스 Beta버전 시작<br>
								SK플래닛 신입사원 교육
							</span>
						</p>
						<p>
							<span class="mon-align-tw">4월</span>
							<span class="mon-content">
								OTS-분석/설계 교육<br>
							</span>
						</p>
						<p>
							<span class="mon-align-tw">5월</span>
							<span class="mon-content">
								삼성SDS 프레임워크 교육<br>
								스마일 서브 - 파이썬 교육<br>
							</span>
						</p>
						<p>
							<span class="mon-align-tw">6월</span>
							<span class="mon-content">
								삼성SDS 역량강화 교육<br>
							</span>
						</p>
						<p>
							<span class="mon-align-tw">7월</span>
							<span class="mon-content">
								삼성SDS 인턴 교육<br>
								삼성SDS 역량강화 교육<br>
								비트-건국대학교 C 교육<br>
								상명대학교 자바 교육
							</span>
						</p>
						<p>
							<span class="mon-align-tw">7월</span>
							<span class="mon-content">
								비트-건국대학교 C 교육<br>
								상명대학교 자바/안드로이드/HTML5 교육
							</span>
						</p>
						<p>
							<span class="mon-align-tw">8월</span>
							<span class="mon-content">
								비트-건국대학교 자바 교육<br>
								상명대학교 자바/안드로이드/HTML5 교육
							</span>
						</p>
						<p>
							<span class="mon-align-tw">9월</span>
							<span class="mon-content">
								상명대학교 자바/안드로이드/HTML5 교육<br>
								삼성SDS ICTO교육<br>
								전자부품연구원-HTML5 교육
							</span>
						</p>
						<p>
							<span class="mon-align-tw">10월</span>
							<span class="mon-content">
								삼성SDS ICTO교육<br>
								삼성SDS-실전!업무개발 교육<br>
								SK플래닛 - 자바 웹 프로그래밍 교육
							</span>
						</p>
						<p>
							<span class="mon-align-tw">11월</span>
							<span class="mon-content">
								삼성SDS ICTO교육<br>
								삼성SDS-실전!업무개발 교육<br>
								SK플래닛 - 자바 웹 프로그래밍 교육<br>
								GoClass 교육 서비스 Beta 시작
							</span>
						</p>
						<p>
							<span class="mon-align-tw">12월</span>
							<span class="mon-content">
								폴리텍 대학 - 자바/프레임워크/HTML5교육
							</span>
						</p>
					</li>
					<li class="event" style="display:none;">
					</li>

					<li class="year">2013</li>
					<li class="event">
						<h3 class="heading">IT교육 및 서비스 개발</h3>
						<span class="month"><i class="icon icon-calendar"></i>2013년</span>
						<p>

						<span class="mon-align-tw">1월.</span>
						<span class="mon-content">
							SK커뮤니케이션즈 설계 교육.<br>
							삼성전자 서비스-JAVA,프레임워크,안드로이드 교육<br>
							비트-나무인터넷-PHP 교육<br>
							삼성 SDS 멀티캠퍼스 JAVA 교육
						</span>
						</p>
						<p>
						<span class="mon-align-tw">2월.</span>
						<span class="mon-content">
							삼성전자 서비스-JAVA,프레임워크,안드로이드 교육<br>
							SK플래닛 - 신입사원 교육.<br>
						</span>
						</p>
						<p>
						<span class="mon-align-tw">3월.</span>
						<span class="mon-content">
							SK플래닛 - 신입사원 교육.<br>
						</span>
						</p>
						<p>
						<span class="mon-align-tw">4월.</span>
						<span class="mon-content">
							캠핑 전문 SNS yacamp.com 서비스 시작.<br>
							신한은행 - BA교육
						</span>
						</p>
						<p>
						<span class="mon-align-tw">5월.</span>
						<span class="mon-content">
							OTS-분석설계 교육.<br>
						</span>
						</p>
						<p>
						<span class="mon-align-tw">6월.</span>
						<span class="mon-content">
							삼성전자 서비스 - 안드로이드 교육<br>
							SK커뮤니케이션즈-프레임워크 교육
						</span>
						</p>
						<p>
						<span class="mon-align-tw">7월.</span>
						<span class="mon-content">
							삼성 SDS - 인턴 교육<br>
							상명 대학교 - 자바/안드로이드 교육<br>
							SK커뮤니케이션즈-자바 교육
						</span>
						</p>
						<p>
						<span class="mon-align-tw">8월.</span>
						<span class="mon-content">
							상명 대학교 - 자바/안드로이드 교육<br>
							건국대학교-PHP교육
						</span>
						</p>
						<p>
						<span class="mon-align-tw">9월.</span>
						<span class="mon-content">
							SK플래닛-자바웹개발 교육
						</span>
						</p>
						<p>
						<span class="mon-align-tw">10월.</span>
						<span class="mon-content">
							소프트웨어 사업자 등록<br>
							SK커뮤니케이션즈-자바교육
						</span>
						</p>
						<p>
						<span class="mon-align-tw">11월</span>
						<span class="mon-content">
							기술부설연구소(연구전담부서)등록<br>
							SK플래닛 - 자바교육<br>
							삼성SDS멀티캠퍼스 - UML교육<br>
							삼성SDS - HTML5/하이브리드앱 교육
						</span>
						</p>
					</li>
					<li class="event" style="display:none;">
										
					</li>
					<li class="year">2012</li>
					<li class="event">
						<h3 class="heading">회사 창업 및 IT교육</h3>
						<span class="month"><i class="icon icon-calendar"></i>2012년</span>
						<p>
							<span class="mon-align-tw">4월.</span>
							<span class="mon-content">써니베일 법인 설립<br>
								비트-PHP/파이썬 프로그래밍 교육<br>
								SK커뮤니케이션즈-UML설계 교육<br>
								비트-JAVA/SQL 교육<br>
							</span>
						</p>
						<p>
							<span class="mon-align-tw">5월.</span>
							<span class="mon-content">기업용 SNS. 헬로마이오피스 개발 시작.<br>
							하이브리드 앱 - 모바일리더 기업 교육<br>
							비트-웹 표준 교육<br>
							비트-PHP 교육<br>
							비트-UML설계 교육<br>
								</span>
						</p>
						<p>
							<span class="mon-align-tw">6월.</span>
							<span class="mon-content">삼성전자 - 자바 성능을 결정짓는 코딩 습관과 튜닝 교육<br>
							삼성 SDS 신입사원 교육<br>
								</span>
						</p>
						<p>
							<span class="mon-align-tw">7월.</span>
							<span class="mon-content">
							삼성 SDS 신입사원 교육<br>
							</span>
						</p>
						<p>
							<span class="mon-align-tw">8월.</span>
							<span class="mon-content">
							신한 금융 - BA과정 교육<br>
								한화 S&C - Oracle, JAVA, XML 교육<br>
							</span>
						</p>
						<p>
							<span class="mon-align-tw">9월.</span>
							<span class="mon-content">
								한화 S&C - Oracle, JAVA, XML 교육<br>
								국세청 - JAVA, UML분석/설계 교육
							</span>
						</p>
						<p>
							<span class="mon-align-tw">10월.</span>
							<span class="mon-content">
							삼성 SDS SW Eng - 자바프레임워크 교육<br>
								삼성전자 - HTML5 교육<br>
							</span>
						</p>
						<p>
							<span class="mon-align-tw">11월.</span>
							<span class="mon-content">
								한화 S&C - 안드로이드 교육<br>
								삼성반도체-JAVA 교육<br>
							</span>
						</p>
						<p>
							<span class="mon-align-tw">12월.</span>
							<span class="mon-content">
								삼성SDS 역량강화 교육<br>
								비트-나무인터넷-PHP교육<br>
							</span>
						</p>
					</li>
				</ul>

			</div>
		</section>
		<!-- end resume -->

		<!-- projects -->
		<section class="section projects" id="projects">
			<div class="container">
				<h2 class="heading">교육</h2>
				<h3>신입 사원 전문 IT 교육</h3>
				<p>다양한 기업의 신입사원 IT교육 노하우가 있습니다. 언제든 연락주세요.</p>
				<p>&nbsp;</p>
				<h3>기업 IT 교육</h3>
				<p>&nbsp;</p>
				<p>자바 기본, 데이터베이스, Spring, UML, 분석/설계 등 다양한 기업 IT교육 경험이 있습니다. 언제든 연락주세요.</p>
			</div>
		</section>
		<!-- end projects -->

		<!-- contacts -->
		<section class="section contacts" id="contacts">
			<div class="container">
				<div class="row contact-address">
					<div class="col-md-12" style="margin-top: 50px;">
						<p class="address-lines-tit">교육 문의는 아래의 메일로 연락주세요.</p>
						<div class="address-lines">
							<p>Email : carami at nate.com</p>
						</div>
						<!--
						<div class="social">
							<h3 class="sub-heading">Follow us on :</h3>
							<ul class="social-icons">
								<li><a href="https://www.facebook.com/sunnyvalesoft" target="_blank"><i class="icon icon-facebook"></i></a></li>
							</ul>
						</div>
						-->
					</div>
				</div>
			</div>	
		</section>
		<!-- end contacts -->
	
		<!-- footer -->
		<footer class="footer">
			<p>Copyright &copy; by Sunnyvale co., ltd. All right reserved.</p>
		</footer>
		<!-- end footer -->

	</div>
	<!-- END WRAPPER -->



</body>
</html>

